.comics-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }
  
  .comics-details {
    flex: 1;
    max-width: 600px; 
  }
  
  .comics-image {
    max-width: 700px; 
    border-radius: 8px; 
    margin-right: 20px; 
  }
  
  .comics-title {
    margin-left: 20px;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .comics-description {
    font-size: 16px;
    margin-left: 20px;
    border: 1px solid #ddd;
    border-radius: 50px;
    opacity: 1;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  