body {
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin: 0; 
} 

/* Cardlist */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 70px;
}

/* Cards */
.card {
  width: 200px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  opacity: 1;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    transition: 1s;
  }

  .img-container {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .header .bg img{
    width: 100%;
    height: 550px;
    align-items: center; 
    justify-content: center; }

    .header .bg2 img{
      width: 100%;
      height: 550px;
      align-items: center; 
      justify-content: center; }
  h1{
    margin-bottom: 20px;
    color: #B41F23;
  }
  
  h2 {
    font-size: 18px;
    margin-top: 8px;
  }

  p {
    font-size: 14px;
    color: #777;
    
  }

  .card p {
    width: 200px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  }
  

  a {
    display: block;
    margin-top: 12px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .bttn {
      font-weight: bold;
      border: 1px solid #fff;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      opacity: 1;
      cursor: pointer; 
      background-color: #007bff; 
      color: #fff; 
    }
    
    .bttn:hover {
      background-color: #0056b3;
    }

    .search-bar{
      width: 90%;
      margin: 0 auto;
      display: flex;
      align-items: center;
  }
  .header .search{
      outline: none;
      background: none;
      border: none;
      margin-left: 2rem;
      width: 350px;
      height: 35px;
      border-radius: 1rem;
      color: #FFF;
      font-size: 20px;
      padding: 1rem;
      border:2px solid #B41F23 }
}