body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

/* Cardlist */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px;
}

/* Cards */
.card {
  width: 200px; /* Ajuste a largura conforme necessário */
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  opacity: 1;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 1s ease-in-out;
}

.button {
  font-weight: bold;
  border: 1px solid #fff;
  padding: 1.2rem 2.5rem;
  border-radius: 1rem;
  opacity: 1;
  margin-left: 200px;
}



h1 {
  font-size: 50px;
  margin-bottom: 15px;
  text-align: left;
}




